#Dependencies:
/node_modules
backend/node_modules
frontend/node_modules

#Environemnt Vars:
.env
.env.*
#Backend:
backend/.env
#Frontend:
frontend/.env

#Builds:
dist
build

#Prisma Dependencies:
*.db
*db.journal
prisma/dev.db
backend/generated/prisma
backend/prisma/migrations
backend/generated/*

#Mac nonsense:
.DS_Store

#IDE
.vscode

